<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <form #resetForm="ngForm"
          (submit)="resetPassword()">
        <vsf-centered-card>
            <ng-container *ngIf="!submitted">
                <input class="input-text"
                       placeholder="Endereço de email"
                       name="emailAddress"
                       type="email"
                       email
                       required
                       [(ngModel)]="emailAddress">

                <button class="btn-primary mt-3"
                        [disabled]="resetForm.invalid || submitted"
                        type="submit">
Redefinir senha
                </button>
            </ng-container>
            <div class="alert alert-success" role="alert" *ngIf="submitted">
Um email foi enviado para <strong>{{ emailAddress }}</strong>. Por favor, verifique e siga as
                instruções incluídas.
            </div>
        </vsf-centered-card>
    </form>
</div>
