<div *ngIf="order$ | async as order">
    <div class="text-center">
        <h2 class="text-3xl">Obrigado pelo seu pedido!</h2>
        <ul class="mt-4">
            <li class="space-x-2"><span class="">Código do pedido:</span><span
                class="text-gray-600 font-medium">{{ order.code }}</span></li>
            <li class="space-x-2"><span class="">Realizado:</span><span
                class="text-gray-600 font-medium">{{ order.updatedAt | date: 'medium' }}</span></li>
        </ul>
    </div>

    <div *ngIf="!order.customer.user" class="border rounded bg-white max-w-md mx-auto p-4 my-4">
        <p class="lead">Crie uma conta para desfrutar de checkouts mais rápidos, rastreamento de pedidos, histórico de pedidos e muito mais!</p>
        <button class="btn-primary mx-auto mt-6 block"
                (click)="register()"
                [disabled]="registrationSent">
            Criar conta
        </button>
        <div *ngIf="registrationSent" class="mt-4 border-green-200 bg-green-50 p-4 text-sm text-green-700">
            Ótimo! Agora verifique seu email ({{ order.customer.emailAddress }}) para completar o registro.
        </div>
    </div>
    <div class="mt-12">
        <vsf-cart-contents [cart]="order"
                           [canAdjustQuantities]="false"></vsf-cart-contents>
        <vsf-cart-totals [cart]="order"></vsf-cart-totals>
    </div>
</div>
<ng-container *ngIf="notFound$ | async">
    <h2 class="display-4">Página não encontrada</h2>
</ng-container>
