<div class="flex flex-col space-y-6 md:space-y-0 md:space-x-12 md:flex-row">
    <vsf-centered-card title="Alterar senha">
        <form #passwordForm="ngForm">
            <div class="text-left">
                <label class="text-sm text-gray-600" for="currentPassword">Senha atual</label>
                <input class="input-text" [(ngModel)]="currentPassword" name="currentPassword" type="password" required>
            </div>
            <div class="text-left">
                <label class="text-sm text-gray-600" for="newPassword">Nova senha</label>
                <input class="input-text" [(ngModel)]="newPassword" name="newPassword" type="password" required>
            </div>
        </form>
        <button class="btn-primary mt-3"
                [disabled]="passwordForm.invalid || passwordForm.pristine"
                (click)="changePassword()">Definir senha
        </button>
    </vsf-centered-card>
    <vsf-centered-card title="Alterar endereço de email">
            <ng-container *ngIf="!changeEmailAddressMessage">
                <form #emailForm="ngForm">
                    <div class="text-left">
                        <label class="text-sm text-gray-600" for="password">Senha</label>
                        <input class="input-text" [(ngModel)]="password" name="password" type="password" required>
                    </div>
                    <div class="text-left">
                        <label class="text-sm text-gray-600" for="emailAddress">Novo endereço de email</label>
                        <input class="input-text" [(ngModel)]="emailAddress" name="emailAddress" required>
                    </div>
                </form>
                <button class="btn-primary mt-3"
                        [disabled]="emailForm.invalid || emailForm.pristine"
                        (click)="changeEmailAddress()">Verificar novo endereço de email
                </button>
            </ng-container>
            <ng-container *ngIf="changeEmailAddressMessage">
                <div class="alert alert-primary" role="alert">
                    {{ changeEmailAddressMessage }}
                </div>
            </ng-container>
    </vsf-centered-card>
</div>
